@charset "utf-8";
/*-------------------css reset--------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
margin: 0; 
padding: 0; 
border: 0; 
outline: 0; 
font-weight:normal; 
font-style: inherit; 
font-size: 100%; 
font-family: inherit; 
vertical-align: baseline; 
} 
:focus { 
outline: 0; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
} 
caption, th, td { 
text-align: left; 
font-weight: normal; 
} 
a img, iframe { 
border: none; 
}
ul,ol{ 
list-style: none; 
}
input, textarea, select, button { 
font-size: 100%; 
font-family: inherit; 
} 
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*------------------- 视觉隐藏--------------------------*/
.vh { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}
/*------------------- 图片替换--------------------------*/
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
/*-------------------公共--------------------------*/
body{font-size:12px; line-height:1.5; font-family:'微软雅黑',Arial, Helvetica, sans-serif;color:#333;-webkit-text-size-adjust:none;}
a{text-decoration:none;}
a{color:#333;}
a:hover{color:red;}
.fl{float:left; display:inline;}
.fr{float:right;display:inline;}
strong,h1,h2,h3,h4,dt,h1 a,h2 a,h3 a,h4 a{font-weight:bold;}
.h{position:relative;}
.hr{position:absolute; right:19px; top:10px;}
.hr a{color:#393939;}
.tc{text-align:center;}
.tr{text-align:right;}
h2{font-size:16px; color:#fff;}
button{border:none; cursor:pointer;}
/*-------------------文章模块--------------------------*/
.article h3{text-align:center;}
.article p {text-indent:2em;}
/*-------------------新闻列表模块--------------------------*/
.list li{position:relative;}
.list li b{color:#FF0000; font-weight:normal;}
.list li span{position:absolute; right:0; top:0;}
.list2 li{float:left; display:inline; width:50%;}
/*-------------------图片列表模块--------------------------*/
.img dl{float:left;display:inline;}
.img dt{text-align:center;}
/*-------------------选项卡模块--------------------------*/
.tab .h li{float:left; display:inline;}
.tab .b{display:none;}
.tab .active{display:block;}
/*-------------------数字幻灯模块--------------------------*/
.slider{ position:relative; height:283px; overflow:hidden}
.slider .b{ padding:0;}
.slider .f{position:absolute; right:17px; bottom:17px; z-index:999}
.slider .f a{background:#B5B5B5; margin-left:4px; float:left; display:inline; width:11px; height:11px; overflow:hidden; border-radius:6px; text-indent:-999em;}
.slider .f .activeSlide{background:#FCFF00;}

/*-------------------图标--------------------------*/
i{display:inline-block; margin-right:5px; font-style:normal;}
.i{ display:inline-block; text-align:center;}
.i1{background:url(../img/i1.png) no-repeat; width:14px; height:14px;}
.i2{background:url(../img/i2.png) no-repeat; width:13px; height:14px;}
.i3{background:url(../img/i3.png) no-repeat; width:16px; height:16px;}
.i4{background:url(../img/i4.png) no-repeat; width:16px; height:16px;}
.i5{background:url(../img/i5.png) no-repeat; width:16px; height:16px;}
.i6{background:url(../img/i6.png) no-repeat; width:78px; height:28px; line-height:28px; font-size:14px; color:#CF3600;}
.i7{background:url(../img/i7.png) no-repeat; width:14px; height:14px; line-height:14px; color:#fff; font-size:10px;}
.i8{background:url(../img/i8.png) no-repeat; width:14px; height:14px; line-height:14px; color:#fff; font-size:10px;}
.i9{background:url(../img/i9.png) no-repeat; width:15px; height:16px;}
.btn1{width:45px; height:22px; background:url(../img/btn1.jpg) no-repeat; color:#fff;}
.btn2{width:45px; height:22px; line-height:22px; display:inline-block; background:url(../img/btn2.jpg) no-repeat; text-align:center; color:#fff;}
.btn3{ width:82px; height:34px; font-size:18px; background:url(../img/m22-btn1.png) no-repeat; color:#fff;}
/*-------------------布局--------------------------*/
.w{width:963px; margin:0 auto;}
/*-------------------头部--------------------------*/
html{background:url(../img/html.jpg);}
body{background:url(../img/body.jpg) no-repeat center 33px;}
#h{ padding-top:453px; margin-bottom:10px; height:96px;}
#h .r1 li{float:left; display:inline; font-size:16px; height:58px; line-height:58px;margin-left:29px;}
#h .r1 .li1{margin-right:10px;}
#h .r1 a{color:#fff;}
#h .r1 a:hover{color:#FFFC00;}
#h .r2{padding:8px 31px 8px 20px;}
#h .r2 .text{ border:1px solid #bf8585; margin-right:5px; width:133px; height:20px;}
#h .r2 .text3{width:213px;}
#h .r2 .a1{color:#d62800; margin:0 5px;}
#h .r2 .btn1{margin-right:5px;}
#h .r2 .btn2{margin-right:5px;}
#h .r2 .c1{width:625px;}
#h .r2 .c2{width:274px;}
#h .r2 .c3 .s1 a{color:#383838; font-weight:bold;}
#h .r2 .c3 span{margin-right:5px;}
#h .r2 .c3 b{color:#C51C01;}
#h .r2 .c3 .s6 a{color:#FE4E00;}

/*-------------------中部--------------------------*/
#b .r1{margin-bottom:10px;}
#b .r1 .c1{width:342px; margin-right:9px;}
#b .r1 .c2{width:342px;}
#b .r1 .c3{width:263px;}
#b .r2{ margin-bottom:10px;}
#b .r2 .c1{width:669px;}
#b .r2 .c2{width:245px;}
#b .r2{background:url(../img/r2.png) no-repeat; height:324px; padding:9px; margin-bottom:10px;}
#b .r3{margin-bottom:3px;}
#b .r3 .c1{ width:695px; height:1090px; background:url(../img/r3-c1.png) no-repeat;}
#b .r3 .c2{ width:262px;}
#b .r4 .c1{ width:695px;}
#b .r4 .c2{ width:262px;}
#b .r5 .c1{ width:695px; height:1051px; padding-top:14px; background:url(../img/r5-c1.png) no-repeat;}
#b .r5 .c2{ width:262px;}
/*-------------------尾部--------------------------*/
#xmnnfooter,
#xmnnfooter a{color:#fff !important;}

/*-------------------ma--------------------------*/
.ma{padding:0 25px 0 17px;}
.ma h2{color:#cf3600; padding-left:9px; height:32px; line-height:32px;}
.ma li{line-height:24px; border-bottom:1px dashed #C3C3C3; padding:14px 0;}
/*-------------------ha--------------------------*/
.ha h2{background:url(../img/m15-h2.png) no-repeat left bottom; height:36px; line-height:36px; color:#CF3600; padding-left:13px;}
/*-------------------分页--------------------------*/
.fra{text-align:center;}
.fra a{display:inline-block; width:20px; height:20px; line-height:20px; text-align:center; margin:0 2px; background:#999999; color:#fff; border:1px solid #6C6C6C;}
.fra a.current{background:#EC6A00; border:1px solid #B95300;}
/*-------------------广告--------------------------*/
.bn1{background:url(../img/bn1.png) no-repeat;margin-bottom:10px; padding:7px; height:91px}
/*-------------------幻灯m1--------------------------*/
.m1{background:url(../img/m1.png) no-repeat; height:265px; padding:6px 6px 11px;}
/*-------------------焦点新闻m2--------------------------*/
.m2{background:url(../img/m2.png) no-repeat; height:270px; padding:6px;}
.m2 .b{padding:12px;}
.m2 h3{margin-bottom:5px;}
.m2 h3 a{color:#BA0000; font-size:18px;}
.m2 p{color:#7F7F7F; border-bottom:1px dashed #D1D1D1; height:54px; overflow:hidden; margin-bottom:8px;}
.m2 .b li{height:25px; line-height:25px; border-bottom:1px dashed #D1D1D1;}
/*-------------------活动公告m3--------------------------*/
.m3{background:url(../img/m3.png) no-repeat; height:270px; padding:6px;}
.m3 h2{height:40px; line-height:40px; padding-left:63px;}
.m3 .b{padding:11px;}
.m3 .b li{height:25px; line-height:25px; border-bottom:1px dashed #E17F5D;}
.m3 .b a{color:#fff;}
/*-------------------奖品兑换m4--------------------------*/
.m4{background:url(../img/m4.png) no-repeat; height:324px; padding:9px; margin-bottom:10px;}
.m4 h2{height:40px; line-height:40px; width:133px; text-align:center;}
.m4 .b{ padding:27px 40px 0}
.m4 .bc2{ overflow:hidden; width:760px; height:237px; position:relative; margin-left:22px;}
.m4 .img{position:absolute;}
.m4 dl{ margin:0 50px; width:280px;}
.m4 dt{height:22px; line-height:22px; margin-top:5px;}
.m4 dt a{color:#fff;}
.m4 .prev,
.m4 .next{width:31px; height:60px; text-indent:-999em; margin-top:80px;}
.m4 .prev{ background:url(../img/m4-prev.png) no-repeat;}
.m4 .next{ background:url(../img/m4-next.png) no-repeat;}
/*-------------------博饼文化m5--------------------------*/
.m5 h2{color:#DA6238; height:31px; line-height:31px; padding-left:23px;}
.m5 .b{padding-top:13px;}
.m5 .br1 .bc2{margin-left:361px;}
.m5 h3{margin-bottom:5px;}
.m5 h3 a{font-size:18px;}
.m5 p{ height:54px; border-bottom:1px dashed #D1D1D1; margin-bottom:9px;}
.m5 p:last-child{ border-bottom:none;}
/*-------------------排行榜m6--------------------------*/
.m6 h2{height:41px; line-height:41px; padding-left:57px;}
.m6 .b{padding:11px;}
.m6 ul{background:url(../img/m6-ul.png) no-repeat left 8px;}
.m6 li{ height:25px; line-height:25px; border-bottom:1px dashed #E17F5D; padding-left:21px;}
.m6 li a{color:#fff;}
.m6 li span{ right:9px; color:#FEEF00;}
/*-------------------合作伙伴m7--------------------------*/
.m7{background:url(../img/m7.png) no-repeat; height:372px; padding:9px;}
.m7 h2{height:40px; line-height:40px; width:133px; text-align:center;}
.m7 .b{padding:23px 0 0 23px; height:246px; margin-bottom:10px;}
.m7 img{border:1px solid #E9A48B;}
.m7 dl{margin:0 10px 9px 0; height:48px; overflow:hidden;}
.m7 .f{padding-left:24px;}
.m7 .f h3{color:#EA4A1F; font-size:16px; margin-bottom:5px;}
.m7 .fr1 span{margin-right:20px; font-size:14px;}
/*-------------------在线博饼m8--------------------------*/
.m8{padding:9px;}
.m8 .h{height:40px; line-height:40px;}
.m8 .h li{width:116px; text-align:center;}
.m8 .h .active{background:url(../img/m8-active.png) no-repeat;}
.m8 .h .active a{font-size:16px; color:#fff;}
.m8 .h li a{color:#D2370E; font-size:14px;}
.m8 .hr{right:10px; top:0;}
.m8 .hr a{margin:0 12px;}
.m8 .b{height:520px; background:url(../img/m8-b.png) no-repeat;}
.m8 .b2 .br1{padding:253px 0 40px 275px; background:url(../img/m8-b2.png) no-repeat 256px 115px;}
.m8 .b2 .br1 b{color:#C51C01; margin:0 5px;}
.m8 .ba .br1{padding:16px 24px 0;}
.m8 .ba .br1 .i9{margin-left:12px;}
.m8 .ba .br1 th{color:#fff; text-align:center; height:42px; line-height:42px;}
.m8 .ba .br1 td{ border-bottom:1px dashed #DD704A; height:29px; line-height:29px;text-align:center;}
.m8 .ba .br1 .td1{ color:#fff;}
.m8 .ba .br1 .td2{ color:#00FFBA;}
.m8 .ba .br1 .td3{ color:#F0FF00;}
.m8 .ba .br2{text-align:right; padding:13px 25px 0 0;}
.m8 .ba .br2 a{color:#fff; margin:0 5px;}
.m8 .ba .br2 .current{ color:#F0FF00;}
/*-------------------博饼科举参照表m9--------------------------*/
.m9{padding-left:14px;}
.m9 h2{color:#CF3600;padding-left:13px; height:32px; line-height:32px;}
.m9 .b{background:url(../img/m9-b.jpg) no-repeat; height:456px;}
/*-------------------主办方m10--------------------------*/
.m10{background:url(../img/m3.png) no-repeat; height:270px; padding:6px; margin-bottom:7px;}
.m10 h2{height:40px; line-height:40px; padding-left:63px;}
.m10 .b{padding:10px 18px 0;}
.m10 .br1{margin-bottom:10px; text-align:center;}
.m10 p{ text-indent:2em; height:108px; overflow:hidden; color:#fff;}
/*-------------------如何获取积分m11--------------------------*/
.m11{background:url(../img/m11.png) no-repeat; height:270px; padding:6px; margin-bottom:7px;}
.m11 h2{height:40px; line-height:40px; padding-left:63px;}
.m11 .b{padding:11px;}
.m11 .b li{height:25px; line-height:25px; border-bottom:1px dashed #E17F5D;}
.m11 .b a{color:#fff;}
/*-------------------实时积分排行m12--------------------------*/

.m12 h2{height:40px; line-height:40px; padding-left:63px;}
.m12 .b{padding:11px;}
.m12 li{height:28px; line-height:28px; border-bottom:1px dashed #E17F5D; padding-left:27px;}
.m12 li a{color:#fff;}
.m12 li span{  right:9px; color:#FEEF00;}
/*-------------------本期奖品m13--------------------------*/
.m13{background:url(../img/m13.png) no-repeat; height:326px; padding:8px; margin-top:6px;}
.m13 h2{height:40px; line-height:40px; width:137px; text-align:center;}
.m13 .b{padding-top:19px;}
.m13 dl{ margin:0 28px; width:280px;}
.m13 dt{height:22px; line-height:22px; margin-top:5px;}
.m13 dt a{color:#fff;}
/*-------------------赞助商m14--------------------------*/
.m14{background:url(../img/m14.png) no-repeat; height:336px; padding:6px;}
.m14 h2{height:40px; line-height:40px; padding-left:63px;}
.m14 .b{position:relative;}
.m14 .br1{margin:20px 0 0 33px; height:260px; width:179px; overflow:hidden; position:relative;}
.m14 .img{ position:absolute;}
.m14 img{border:1px solid #E9A48B;}
.m14 dl{margin-bottom:12px; height:53px; overflow:hidden;}
.m14 .prev,
.m14 .next{position:absolute; width:18px; height:37px; top:128px; text-indent:-999em;}
.m14 .prev{background:url(../img/m14-prev.png) no-repeat; left:2px;}
.m14 .next{background:url(../img/m14-next.png) no-repeat; right:3px;}
/*-------------------活动说明m15 ma--------------------------*/
.m15{margin-bottom:15px;}

/*-------------------如何获取积分m16 ma--------------------------*/

/*-------------------博饼文化m17--------------------------*/
.m17{background:url(../img/m17.png) no-repeat; height:325px; padding:6px; margin-bottom:6px;}
.m17 h2{height:40px; line-height:40px; padding-left:63px;}
.m17 h3{margin-top:10px;}
.m17 h3 a{color:#fff; font-size:14px;}
.m17 .b{padding:9px 10px 0;}
.m17 p{color:#fff; height:36px; overflow:hidden; border-bottom:1px dashed #E07F5D; padding:9px 0;}
.m17 p:last-child,
.m17 p.last{border-bottom:none;}
/*-------------------往期获奖名单m18--------------------------*/
.m18{margin-left:14px;}
.m18 .b{padding-top:17px;}
.m18 .br1{margin-left:-15px;}
.m18 dl{width:156px; height:156px; overflow:hidden; margin:0 0 6px 15px; position:relative;}
.m18 dt{height:26px; line-height:26px; position:absolute; width:100%; left:0; bottom:0;background:rgb(123,46,20);background:rgba(123,46,20,0.7);}
.m18 dt a{color:#fff;}
/*-------------------活动新闻m19--------------------------*/
.m19{margin-left:14px;}
.m19 .b{padding:10px 14px 0 4px; margin-bottom:25px;}
.m19 li{height:29px; line-height:29px; border-bottom:1px dashed #C3C3C3; padding-left:9px;}
.m19 li a{ margin-left:10px;}
.m19 li span{color:#6C6C6C; right:24px;}
/*-------------------活动新闻内页m20--------------------------*/
.m20{margin-left:14px; margin-right:15px;}
.m20 h3{font-size:16px; margin-bottom:20px;}
.m20 .b{margin-bottom:23px; padding-top:18px;}
.m20 .br1{color:#6C6C6C; text-align:center; margin-bottom:8px;}
.m20 .br2{border-bottom:1px dashed #C3C3C3;border-top:1px dashed #C3C3C3; padding:13px 0; line-height:28px;}
.m20 .f{text-align:right; padding-right:18px;}
/*-------------------博饼积分总排名m21--------------------------*/
.m21{margin-left:14px; margin-right:15px;}
.m21 .hr a{color:#CF3600;}
.m21 .b{padding-top:10px;}
.m21 .br1{margin-left:-14px;}
.m21 li{height:29px; line-height:29px; border-bottom:1px dashed #C3C3C3; margin-left:14px; width:325px}
.m21 li i{margin:0 7px 0 5px;}
.m21 li span{color:#eb3801; right:20px;}
/*-------------------用户中心m22--------------------------*/
.m22{margin:0 15px 0 9px;}
.m22 .h{margin-bottom:21px;}
.m22 .hr a{margin:0 5px;}
.m22 .hr1{border-bottom:1px solid #CA7152;}
.m22 .hr1 ul{position:relative; top:1px;}
.m22 .hr1 li a{ display:block;height:41px; line-height:41px; width:116px; text-align:center; font-size:14px; color:#000; font-weight:bold;}
.m22 .hr1 .active{ background:url(../img/m22-active.png) no-repeat;}
.m22 .hr1 .active a{font-size:16px; color:#CF3600;}
.m22 .hr2{text-align:right; padding:13px 23px 10px 0; border-bottom:1px dashed #C3C3C3;}
.m22 .hr2 b{ color:#C51C01; margin:0 5px;}
.m22 .ba .br1{background:url(../img/m22-br1.jpg) no-repeat; margin-bottom:26px;}
.m22 .ba th{ height:28px; line-height:28px; font-size:14px; color:#000; font-weight:bold; text-align:center;}
.m22 .ba .i9{margin-left:15px;}
.m22 .ba td{height:29px; line-height:29px; border-bottom:1px dashed #C3C3C3; text-align:center;}
.m22 .ba .td2{color:#FF5A00;}
.m22 .ba .td3{color:#FF0000;}
.m22 .b3 li{margin-bottom:9px;}
.m22 .b3 label{ display:inline-block; width:81px; height:27px; line-height:27px; text-align:center; background:#CE4400; font-size:14px; color:#fff; margin-right:6px;}
.m22 .b3 input{width:275px; height:25px; line-height:25px; border:1px solid #CAACAC;}
.m22 .b3 .br1{ padding-left:120px; margin-bottom:29px;}
.m22 .b3 .br2{text-align:center;}

/*-------------------内页--------------------------*/
.pga{background:url(../img/pgn-body.jpg) no-repeat center 33px;}
.pga #h{padding-top:332px;}
.pga .m12{background:url(../img/pg3-m12.png) no-repeat; height:356px; padding:6px; margin-bottom:6px;}
.pg2 .m12{background:url(../img/m12.png) no-repeat; height:499px;}
.pg4 .m13{background:url(../img/pg4-m13.png) no-repeat; margin:0 8px; padding:8px 0;}
.pg2 #h .r1 .li2 a,
.pg3 #h .r1 .li3 a,
.pg4 #h .r1 .li4 a,
.pg5 #h .r1 .li5 a,
.pg6 #h .r1 .li6 a,
.pg7 #h .r1 .li7 a,
.pg8 #h .r1 .li8 a,
.pg9 #h .r1 .li9 a,
.pg10 #h .r1 .li10 a{color:#FFFC00;}